.Card {
  display: flex;
 color: white;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: rgb(10, 10, 10);
  border-radius: 8px;
  margin: 10px;
  box-shadow: 0 0 12px #1505f398;
  padding: 5px; /* Aumentamos el espacio interior */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: bold; /* Cambiamos a "small" para mejorar la legibilidad */
}


h3{
  font-size: 30px;
  text-transform: uppercase;
  margin:3px;
  
}

p{
  margin-top: 5px;
}


img {
  flex-wrap: wrap;
  max-width: 100%;
  height: 230px;
  border-radius: 10px;
  margin-bottom: 10px; /* Agregamos margen inferior a la imagen */
}

.CardLink {
  text-decoration: none;
  color: inherit;
}

.Card button {
  position:relative;
  align-self: flex-end ;/* Coloca el botón al final (esquina inferior derecha) */
 
  color: rgb(231, 8, 8);
  border: none;
  padding: 0;
  cursor: pointer;
}

